input {
    display: block;
    width: 100%;
    height: 25px;
    margin: auto;
    border: none;
    color: aliceblue;
    background-color: dimgray;
}

::placeholder {
    color: aliceblue;
    text-transform: uppercase;
}

button {
    width: 100%;
    margin: 10px auto;
    font-weight: bold;
}